* { box-sizing: border-box;}

body {
  margin: 0;
}

.container {
  margin: 0 2em;
}

/* NavBar Styles */

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  color: #FFFFFF;
  padding: 0.5em 0;
  margin-bottom: 2.5em;
}


.earth-icon {
  font-size: 24px;
  margin-right: 0.25em;
}


/* Card Styles */

.travel-card {
  display: flex;
  max-width: 470px;
  margin: 0 auto;
  padding: 1em 0;
}

.travel-card:not(:last-child) {
  border-bottom: 1px solid #F5F5F5;
}

.card-img {
  width: 125px; 
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 1.25em;
}

.location-icon {
  color: #F55A5A;
  width: 7px;
  margin-right: 4px;
}

.card-location-container {
  display: flex;
  align-items: center;
}

.card-location,
.card-map-url,
.card-date,
.card-description {
  font-size: 11px;
}

.card-location {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 4px;
}


.card-map-url {
  font-size: 11px;
  color: #918E9B;
}

.card-title {
  font-size: 25px;
  margin-top: -0.25em;
}

.card-date {
  margin-bottom: 9px;
}

.card-description {
  margin-top: 0;
  max-width: 326px;
  line-height: 15.36px;
}

